body {
    background-color: #eceff4;
    font-family: sans-serif;
}

.contacts {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(90, 116, 148, 0.4);
    border-radius: 4px;
    width: 320px;
    margin: 0 1.5% 24px 1.5%;
    padding-bottom: 6px;
}

.subtitle {
    color: #333333;
    font-size: 14px;
    padding-left: 26px;
    padding-top: 21px;
    padding-bottom: 21px;    
}

.newContact {
    padding-top: 22px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
}

.formEntry {
    display: block;
    margin: 0px auto 12px;
    padding: 10px;
    width: 250px;
    border-radius: 4px;
    border: solid;
    border-color: #eeeeee;
    border-width: 1px;
    maxlength: 10;
}

.submit {
    width: 96px;
    height: 40px;
    margin: 16px 26px 16px auto;
    font-size: 14px;
    border: none;
    color: white;
    background-color: #4d59a1;
    cursor: pointer;
}

table {
    width: 100%;
    overflow: hidden;
/*     display:inline-block; */
}

.tableLine {
    border-color: #eeeeee;
    border-top-style: solid;
    border-width: 1px;
    padding: 14px 0;
}
.cell {
    margin-left: 24px;
}

.tName {    
    font-size: 14px;
}

.tPhone {
    color: #666666;
    font-size: 12px;
}

.del {
    position: relative;
    cursor: pointer;    
}
.del:after{
    content: '\d7';
}

.pagination {
    padding-top:16px;
    list-style-type: none;
    margin: 26px auto;
}

button.page-link {
    background-color: #4d59a1;    
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 500;
    float: left;
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-size: 12px;
    color: gray;
}

:-ms-input-placeholder { 
    font-size: 12px;
    color: gray;
}

::placeholder {
    font-size: 12px;
    color: gray;
}
