<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
        <title>My alterra TEST task</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./alterra.css">
    </head>
    <body>
        <div id="app" class="contacts">
            <div class="content">
                <div class="subtitle">Добавить контакт</div>
                <div class="newContact">
                    <input v-model="newName"  class="formEntry"  maxlength="50" placeholder="Имя">
                    <input v-model="newPhone" class="formEntry" maxlength="15" placeholder="8 953 250 10 51" @input="acceptPhone">
                    <button type="button" class="submit formEntry" label="Удалить" @click="create"> Добавить </button>
                </div>
            </div>
            <div  class="content">
                <div class="subtitle">Список контактов</div>
                <table >
                    <tbody>
                        <tr v-for="p in displayedContacts">
                            <td  class="tableLine">
                                <div class="cell">
                                    <span class="tName">{{p.name}}</span> <span type="button" class="del" @click="delContact(p.id)"></span><br />
                                    <span class="tPhone">{{ formatPhone(p.phone) }}</span>
                                </div>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="pages.length > 1" class="content">
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous </button>
                        </li>
                        <li class="page-item">
                            <button type="button" class="page-link" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
                        </li>
                        <li class="page-item">
                            <button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <script src="./alterra.js"></script>
    </body>
</html>
